@page "/traceroute"

<div class="d-flex flex-column gap-3">
    @if (HostTraces?.Any() == true)
    {
        <div class="d-flex gap-4 align-items-center w-100">
            <HxSelect Label="Host"
                      Nullable="false"
                      Data="@HostTraces"
                      @bind-Value="SelectedHost"
                      TextSelector="@(x => x.Key)"
                      ValueSelector="@(x => x)"/>

            <HxSelect Label="Route"
                      Nullable="false"
                      Data="@SelectedHost"
                      @bind-Value="SelectedTrace"
                      SortKeySelector="x => x.Id"
                      TextSelector="@(x => $"Route {x.Id}")"
                      ValueSelector="@(x => x)"/>

            @* spacing *@
            <div class="flex-grow-1"></div>
            
            <HxButton Color="ThemeColor.Link" CssClass="text-info text-decoration-none" OnClick="() => ShowUploadDialog = !ShowUploadDialog">
                Toggle Log Upload
            </HxButton>
        </div>
    }

    @if (ShowUploadDialog || HostTraces?.Any() != true)
    {
        <HxInputFileDropZone Accept="application/json,application/zip" OnChange="ProcessArchive"/>
    }

    <div id="map" class="map-container"></div>
    
    @if (SelectedTrace != null)
    {
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Hop #</th>
                <th scope="col">Country</th>
                <th scope="col">Name</th>
                <th scope="col">IP Address</th>
                <th scope="col">Roundtrip Time (ms)</th>
            </tr>
            </thead>
            <tbody>
            @{
                var i = 1;
                foreach (var hop in SelectedTrace.Hops)
                {
                    if (hop == null)
                    {
                        <tr>
                            <th scope="row">@(i++)</th>
                            <td>
                                <img alt="unknown country" src="https://cdn.jsdelivr.net/gh/ppy/osu-resources@2024.410.0/osu.Game.Resources/Textures/Flags/__.png" height="20"/>
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>- (timed out)</td>
                        </tr>
                    }
                    else
                    {
                        var ipInfo = GeoIP.TryCity(hop.IP, out var ip) ? ip : null;

                        <tr>
                            <th scope="row">@(i++)</th>
                            <td>
                                <div class="d-flex align-items-center gap-3">
                                    <img alt="country flag" src=@($"https://cdn.jsdelivr.net/gh/ppy/osu-resources@2024.410.0/osu.Game.Resources/Textures/Flags/{ipInfo?.Country.IsoCode?.ToUpperInvariant() ?? "__"}.png") height="20"/>
                                    @if (!string.IsNullOrEmpty(ipInfo?.City.Name))
                                    {
                                        <span>@ipInfo.City.Name, @ipInfo.Country.Name</span>
                                    }
                                    else if (!string.IsNullOrEmpty(ipInfo?.Country.Name))
                                    {
                                        <span>@ipInfo.Country.Name</span>
                                    }
                                </div>
                            </td>
                            <td>@hop.Name</td>
                            <td>@hop.IP.ToString()</td>
                            <td>@hop.RoundtripTimeMs.ToString("f3")</td>
                        </tr>
                    }
                }
            }
            </tbody>
        </table>
    }
</div>