@typeparam TItem
@typeparam TOut

<div class="d-flex flex-column">
    @if (UploadedFileFailed)
    {
        <HxAlert Color="ThemeColor.Warning">
            <div class="d-flex align-items-center gap-3">
                <HxIcon Icon="@BootstrapIcon.StopCircle"/>
                <span>The uploaded file (@CurrentFileName) could not be processed. Please try another file or try again later.</span>
            </div>
        </HxAlert>
    }
    else if (Current != null && FileProcessing == null)
    {
        <HxAlert Color="ThemeColor.Success">
            <div class="d-flex align-items-center gap-3">
                <HxIcon Icon="@BootstrapIcon.CheckCircleFill"/>
                <span><strong>@CurrentFileName</strong> loaded</span>

                <div class="flex-grow-1"></div>
                <HxButton Color="ThemeColor.Link" CssClass="text-decoration-none" OnClick="() => ShowUploadDialog = !ShowUploadDialog">Toggle Upload Dialog</HxButton>
            </div>
        </HxAlert>
    }
    else if (FileProcessing != null && !UploadedFileFailed)
    {
        <HxAlert Color="ThemeColor.Info">
            <div class="d-flex align-items-center gap-3">
                <HxIcon Icon="@BootstrapIcon.InfoCircleFill"/>
                <span>Processing File...</span>
            </div>
        </HxAlert>
    }

    @if (Current == null && FileProcessing == null || ShowUploadDialog || UploadedFileFailed)
    {
        <HxInputFileDropZone Accept="application/zip,application/json" OnChange="FileSubmitted" CssClass="@(ShowUploadDialog ? "mb-3" : string.Empty)"/>
    }
</div>