@using MathNet.Numerics.Statistics
@using NetTools.Models

<table class="table">
    <thead>
    <tr>
        <th scope="col">Host</th>
        <th scope="col">Min RTT</th>
        <th scope="col">Mean RTT</th>
        <th scope="col">Median RTT</th>
        <th scope="col">Max RTT</th>
        <th scope="col">Standard Deviation</th>
        <th scope="col">Average. Difference</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var host in HostResponses)
    {
        var orderedRttValues = host.SelectMany(x => x.Responses.Select(y => (double)y.TimeMs)).Order().ToArray();
        var stats = new DescriptiveStatistics(orderedRttValues);

        <tr>
            <th scope="row">@host.Key</th>
            <td>@stats.Minimum.ToString("f3") ms</td>
            <td>@stats.Mean.ToString("f3") ms</td>
            <td>@orderedRttValues.Median().ToString("f3") ms</td>
            <td>@stats.Maximum.ToString("f3") ms</td>
            <td>@stats.StandardDeviation.ToString("f3")</td>
            <td>@((stats.Mean - orderedRttValues.Median()).ToString("f3")) ms</td>
        </tr>
    }
    </tbody>
</table>

@code {

    [Parameter]
    public ILookup<string, PingResult> HostResponses { get; set; }

}